@using Makeup_1.Models.ViewModels.CartVievModels
@model CartDetailsViewModel
@{
    ViewData["Title"] = "Product information";
}
<div class="container">
    <div class="row">
        <div class="col">
            @if (Model.Product.Images.Count >= 1)
            {
                <img src="data:image/png;base64,@(Convert.ToBase64String(Model.Product.Images?.FirstOrDefault()!.File))" class="card-img-top" alt="@Model.Product.Name">
            }
        </div>
        <div class="col">
            <div class="product-details">
                <h2>@Model.Product.Name</h2>
                <form asp-action="AddToCart" asp-controller="Cart">
                    <input type="hidden" name="returnUrl" value="@(Context.Request.Path + Context.Request.QueryString)">
                    <input type="hidden" name="id" value="@Model.Product.Id">
                    <input type="hidden" name="cart" value="@Model.Cart">
                    <input type="submit" value="Купити" class="btn btn-sm btn-secondary" />
                </form>
            </div>
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="Comment-tab" data-bs-toggle="tab" data-bs-target="#comment" type="button" role="tab" aria-controls="comment" aria-selected="true">Comment</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Question-tab" data-bs-toggle="tab" data-bs-target="#question" type="button" role="tab" aria-controls="question" aria-selected="false">Question</button>
            </li>
@*            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
            </li>*@
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="comment" role="tabpanel" aria-labelledby="Comment-tab">
                <div>
                    <div class="row">
                        <div class="col">
                            <form method="post" asp-action="AddComment">
                                <input type="hidden" asp-for="@Model.comment.returnUrl" value="@(Context.Request.Path + Context.Request.QueryString)">
                                <input type="hidden" value="@Model.Product.Id" asp-for="@Model.comment.productId" />
                                <div class="form-group">
                                    <label asp-for="@Model.comment.title" class="control-label"></label>
                                    <input type="text" asp-for="@Model.comment.title" class="form-control" />
                                    <span asp-validation-for="@Model.comment.title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.comment.content" class="control-label"></label>
                                    <textarea asp-for="@Model.comment.content" class="form-control"></textarea>
                                    <span asp-validation-for="@Model.comment.content" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Відправити" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>


                    </div>
                    <div class="row">
                        @foreach (Comment comment in Model.Product.Comments)
                        {
                            <div>
                                <h6>@comment.User.UserName</h6>
                                <h5>@comment.Title</h5>
                                <p>@comment.Created</p>
                                <p>@comment.Description</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="question" role="tabpanel" aria-labelledby="Question-tab">
                @*<div>
                    <div class="row">
                        <div class="col">
                            <form method="post" asp-action="AddQestion">
                                <input type="hidden" asp-for="@Model.qestion.returnUrl" value="@(Context.Request.Path + Context.Request.QueryString)">
                                <input type="hidden" value="@Model.Product.Id" asp-for="@Model.qestion.productId" />
                                <div class="form-group">
                                    <label asp-for="@Model.qestion.title" class="control-label"></label>
                                    <input type="text" asp-for="@Model.qestion.title" class="form-control" />
                                    <span asp-validation-for="@Model.qestion.title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.qestion.content" class="control-label"></label>
                                    <textarea asp-for="@Model.qestion.content" class="form-control"></textarea>
                                    <span asp-validation-for="@Model.qestion.content" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Відправити" class="btn btn-primary" />
                                </div>
                            </form>*
                        </div>
                    </div>
                    <div class="row">
                        @foreach (Question comment in Model.Product.Questions)
                        {
                            <div>
                                <h6>@comment.User.UserName</h6>
                                <h5>@comment.Title</h5>
                                <p>@comment.Created</p>
                                <p>@comment.Description</p>
                            </div>
                        }
                    </div>
                </div>*@
            </div>
@*            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>*@
        </div>
    </div>


</div>
