@using Makeup_1.Models.ViewModels.CartVievModels
@model CartDetailsViewModel
@{
    ViewData["Title"] = "Product information";
}
<div class="container">
    <div class="row">
        <div class="col">
            @if (Model.Product.Images.Count >= 1)
            {
                <img src="data:image/png;base64,@(Convert.ToBase64String(Model.Product.Images?.FirstOrDefault()!.File))" class="card-img-top" alt="@Model.Product.Name">
            }
        </div>
        <div class="col">
            <div class="product-details">
                <h2>@Model.Product.Name</h2>
                <form asp-action="AddToCart" asp-controller="Cart">
                    <input type="hidden" name="returnUrl" value="@(Context.Request.Path + Context.Request.QueryString)">
                    <input type="hidden" name="id" value="@Model.Product.Id">
                    <input type="hidden" name="cart" value="@Model.Cart">
                    <input type="submit" value="Купити" class="btn btn-sm btn-secondary" />
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" asp-action="AddComment">
                <input type="hidden" asp-for="@Model.comment.returnUrl" value="@(Context.Request.Path + Context.Request.QueryString)">
                <input type="hidden" value="@Model.Product.Id" asp-for="@Model.comment.productId" />
                <div class="form-group">
                    <label asp-for="@Model.comment.title" class="control-label"></label>
                    <input type="text" asp-for="@Model.comment.title" class="form-control" />
                    <span asp-validation-for="@Model.comment.title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.comment.content" class="control-label"></label>
                    <textarea asp-for="@Model.comment.content" class="form-control"></textarea>
                    <span asp-validation-for="@Model.comment.content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Відправити" class="btn btn-primary" />
                </div>
            </form>
        </div>

        
    </div>
    <div class="row">
        @foreach(Comment comment in Model.Product.Comments)
        {
            <div>
                <h6>@comment.User.UserName</h6>
                <h5>@comment.Title</h5>
                <p>@comment.Created</p>
                <p>@comment.Description</p>
            </div>
        }
    </div>
</div>
