@using Makeup_1.Models.ViewModels.CartVievModels
@model CartDetailsViewModel
@{
    ViewData["Title"] = "Product information";
}
<div class="container">
    <div class="row">
        <div class="col">
            @if (Model.Product.Images.Count >= 1)
            {
                <img src="data:image/png;base64,@(Convert.ToBase64String(Model.Product.Images?.FirstOrDefault()!.File))" class="card-img-top" alt="@Model.Product.Name">
            }
        </div>
        <div class="col">
            <div class="product-details">
                <h2>@Model.Product.Name</h2>
                <form asp-action="AddToCart" asp-controller="Cart">
                    <input type="hidden" name="returnUrl" value="@(Context.Request.Path + Context.Request.QueryString)">
                    <input type="hidden" name="id" value="@Model.Product.Id">
                    <input type="hidden" name="cart" value="@Model.Cart">
                    <input type="submit" value="Купити" class="btn btn-sm btn-secondary" />
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" asp-action="AddComment">
                <input type="hidden" name="returnUrl" value="@(Context.Request.Path + Context.Request.QueryString)">
            <input type="hidden" value="@Model.Product.Id" name="productId" />
            <label>Title</label>
            <input type="text" name="title" />
                <label>Description</label>
            <textarea name="description"></textarea>
            <input type="submit" value="Send Comment" class="btn btn-snm btn-secondary"/>
        </form>
        </div>
        
    </div>
    <div class="row">
        @foreach(Comment comment in Model.Product.Comments)
        {
            <div>@comment.Title</div>
        }
    </div>
</div>
